<div class="row">
            <div class="col">
    <h1>Who are you?</h1>
<form class="form-horizontal" role="form"
      action="/process?" method="POST">

    <div class="Lunchcode">
        <label for="usr">Lunch Code:</label>
        <input name="pin" type="text" class="form-control" id="usr">
    </div>

    <div class="col"><button type="submit" class="go">Go</button></div>

</form>
    <div class="col">
    <div id="container">
        <ul id="keyboard">

            <li class="letter num" data-num="1">1</li>
            <li class="letter num" data-num="2">2</li>
            <li class="letter num" data-num="3">3</li>
            <li class="letter clear1 num" data-num="4">4</li>
            <li class="letter num" data-num="5">5</li>
            <li class="letter num" data-num="6">6</li>

            <li class="letter clear1 num" data-num="7">7</li>
            <li class="letter num" data-num="8">8</li>
            <li class="letter num" data-num="9">9</li>
            <li class="letter num" data-num="0">0</li>
            {{!-- <li class="return num" type="submit">return</li> --}}
        </ul>
            </div>
    </div>

  
 <div class="col">
    <div id="outer">
        <table id="postIt">
    <tr>
        <th>STUDENT INFORMATION</th>
    </tr>
    <tr>
        <td><strong>First Name:</strong> {{FName}}</td>
    </tr>
    <tr>
        <td><strong>Last Name:</strong> {{LName}}</td>
    </tr>

   
</table>
</div>
<div id="floatRight">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
more info
</button>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loaner Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table>
         <tr>
        <td><strong>Grade:</strong>{{Grade}}</td>
    </tr>
    <tr>
        <td><strong>Graudation Year:</strong> {{Grad}}</td>
    </tr>
    <tr>
        <td><strong>Lunch Code:</strong> {{pin}}</td>
    </tr>
   <tr>
        <td><strong>CDI Number: </strong> {{cdi}}</td>
    </tr>
    <tr>
        <td><strong>Serial Number:</strong> {{serial}}</td>
    </tr>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
                               </div>
                          </div>
                     </div>
                </div>
            </div>
        </div>
    
<script>
    (function () {
        "use strict";

        // Shortcut to get elements
        var el = function (element) {
            if (element.charAt(0) === "#") { // If passed an ID...
                return document.querySelector(element); // ... returns single element
            }

            return document.querySelectorAll(element); // Otherwise, returns a nodelist
        };

        // Variables
        var viewer = el("#viewer"), // Calculator screen where result is displayed
            equals = el("#equals"), // Equal button
            nums = el(".num"), // List of numbers
            theNum = "", // Current number
            oldNum = "", // First number
            resultNum, // Result
            operator; // Batman

        // When: Number is clicked. Get the current number selected
        var setNum = function () {
            if (resultNum) { // If a result was displayed, reset number
                theNum = this.getAttribute("data-num");
                resultNum = "";
            } else { // Otherwise, add digit to previous number (this is a string!)
                theNum += this.getAttribute("data-num");
            }

            // viewer.innerHTML = theNum; // Display current number
            usr.value = theNum;
        };

        // When: Operator is clicked. Pass number to oldNum and save operator
        var moveNum = function () {
            oldNum = theNum;
            theNum = "";
            operator = this.getAttribute("data-ops");

            equals.setAttribute("data-result", ""); // Reset result in attr
        };

        // When: Equals is clicked. Calculate result
        var displayNum = function () {

            // Convert string input to numbers
            oldNum = parseFloat(oldNum);
            theNum = parseFloat(theNum);

            // Display result, finally!
            viewer.innerHTML = resultNum;
            equals.setAttribute("data-result", resultNum);

            // Now reset oldNum & keep result
            oldNum = 0;
            theNum = resultNum;
        };

        // When: Clear button is pressed. Clear everything
        var clearAll = function () {
            oldNum = "";
            theNum = "";
            usr.value = theNum;
        };

        /* The click events */
        // Add click event to numbers
        for (var i = 0, l = nums.length; i < l; i++) {
            nums[i].onclick = setNum;
        }

        // Add click event to clear button
        el("#clear").onclick = clearAll;
   
    }());
</script>
