<img src={{img}} alt="Mountain View" />

<div class="btn-group">

    <form role="form"
          action="/charger" method="POST">
        <input type="hidden" name="pin" value="{{pin}}"/>
        <input type="hidden" name="model" value="{{model}}"/>
        <input type="hidden" name="barcode" value="{{barcode}}" />

        <button type="submit" value="submit" class="button">Charger</button>
    </form>


    <form role="form" name= "CBloaner"
          action="/chromebook" method="POST" onsubmit="return CBloanerValidateForm()">
        <input type="hidden" name="pin" value="{{pin}}" />
        <input type="hidden" name="model" value="{{model}}" />
        <input type="hidden" name="FName" value="{{FName}}" />
        <input type="hidden" name="LName" value="{{LName}}" />
        <input type="hidden" name="barcode" value="{{barcode}}" />
         <input type="hidden" name="description" value="{{description}}" />

        <button type ="submit" class="button">Chromebook</button>

        <div class="loaner">
            <label for="usr">Loaner Barcode:</label>
            <input type="text" name="loaner"  maxlength="4" class="form-control" id="usr" pattern="\d{4}" required/>
        </div>

{{! <script>
    function CBloanerValidateForm() {
    var x = document.forms["CBloaner"]["loaner"].value;
    if (x == "") {
        alert("Barcode must be filled out");
        return false;
    }
}
</script>


   <script>
            function chromebook() {
                var txt;
                var numbers = /^[0-9]{4}$/;
                var barcode = prompt("Enter Loaner Barcode:");
                if (barcode == null || barcode == "") {
                    txt = "User cancelled the prompt.";
                } else {
                }
                document.getElementById("chromebook").innerHTML = txt;
            }
        </script>
}}
        
    </form>

    <form role="form"
            action="/repair" method="POST">
        <input type="hidden" name="pin" value="{{pin}}"/>
        <input type="hidden" name="model" value="{{model}}"/>
        <input type="hidden" name="barcode" value="{{barcode}}"/>
        <input type="hidden" name="FName" value="{{FName}}"/>
        <input type="hidden" name="LName" value="{{LName}}"/>

        <button type="submit" value="submit" class="button">Repair</button>
    </form>

    <form role="form"
            action="/checkIn" method="POST">
        <input type="hidden" name="pin" value="{{pin}}"/>
        <input type="hidden" name="model" value="{{model}}"/>
        <input type="hidden" name="barcode" value="{{barcode}}"/>
        <input type="hidden" name="FName" value="{{FName}}"/>
        <input type="hidden" name="LName" value="{{LName}}"/>
        <input type="hidden" name="serial" value="{{serial}}"/>

        <button type="submit" value="submit" class="button">Check In</button>
    </form>

    <form role="form"
            action="/checkOut" method="POST">
        <input type="hidden" name="pin" value="{{pin}}"/>
        <input type="hidden" name="model" value="{{model}}"/>
        <input type="hidden" name="barcode" value="{{barcode}}"/>
        <input type="hidden" name="FName" value="{{FName}}"/>
        <input type="hidden" name="LName" value="{{LName}}"/>

        <button type="submit" value="submit" class="button">Check Out</button>
    </form>
    
</div>

<style>
    .btn-group {
        padding: 15px 32px;
        margin-right: 10px;
        display: inline-block;
        margin-left: 100px;
        width: 33%;
       
    }

    .button {
        background-color: #f50909;
        display: block;
        padding: 15px 32px;
        cursor: pointer;
        width: 200%;
        text-align: center;
        font-size: 25px;
    }

    .btn-group .button:hover {
        background-color: #100c6d;
        color: white;
    }
</style>

{{! Student table CSS}}
<style>
    #studentInfo {
        margin-top: 20px;
        width: 50%;
        float: left;
    }

    #studentInfo td, #studentInfo th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #studentInfo th {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: left;
        background-color: white;
        color: black;
        font-size: 20px;
        background-color: lightgray;
    }
</style>

<table id="studentInfo">
    <tr>
        <th>STUDENT INFORMATION</th>
    </tr>
    <tr>
        <td><strong>First Name:</strong> {{FName}}</td>
    </tr>
    <tr>
        <td><strong>Last Name:</strong> {{LName}}</td>
    </tr>
    <tr>
        <td><strong>Grade:</strong>: {{Grade}}</td>
    </tr>
    <tr>
        <td><strong>Graudation Year:</strong> {{Grad}}</td>
    </tr>
    <tr>
        <td><strong>Lunch Code:</strong> {{pin}}</td>
    </tr>
</table>


<table id="computerInfo">
    <tr>
        <th>COMPUTER INFORMATION </th>
    </tr>
    <tr>
        <td><strong>Barcode:</strong> {{barcode}}</td>
    </tr>

    <tr>
        <td><strong>Brand: </strong> {{brand}}</td>
    </tr>
    <tr>
        <td><strong>Type: </strong> {{type}} </td>
    </tr>
    <tr>
        <td><strong>Model Number:</strong> {{model}}</td>
    </tr>
    <tr>
        <td><strong>Vendor: </strong> {{vendor}}</td>
    </tr>
    <tr>
        <td><strong>CDI Number: </strong> {{cdi}}</td>
    </tr>
    <tr>
        <td><strong>Serial Number:</strong> {{serial}}</td>
    </tr>
    <tr>
        <td><strong>Purchase Date:</strong> {{PDate}}</td>
    </tr>
</table>

{{!Device table CSS}}
<style>
    #computerInfo {
        margin-top: 20px;
        width: 50%;
    }

    #computerInfo td, #computerInfo th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #computerInfo th {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: left;
        background-color: white;
        color: black;
        font-size: 20px;
        background-color: lightgray;
    }
</style>


<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<table>
    <tr>
        <th>Type</th>
        <th>Damages</th>
        <th>Date</th>
        <th>Date Returned</th>
        <th>Student Responsibility</th>
    </tr>
  {{#each Activities}}
    <tr>
        <td>{{this.Type}}</td>
        <td>{{#if Damages}}
        {{this.Damages}}
<div class="col">
<div id="outer">
</div>
<div id="floatRight">
    
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{this.Date}}">more info</button>

    <!-- Modal -->
<div class="modal fade" id="modal{{this.Date}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table>
         <tr>
        <td>
        <strong>Description: </strong>{{this.Description}}</td>
        </tr>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               </div>
                          </div>
                     </div>
                </div>
            </div>
        </div>

        {{else}}
        None
        {{/if}}</td>
    <td>{{this.Date}}</td>
    <td>{{#if DateReturned}}
        {{this.DateReturned}}
        {{else}}
        <form role="form" name="Return"
                action="/return" method="POST">
            <input type="hidden" name="aID" value= "{{this.aID}}" />
           
        <button type="submit" class="Return">Return</button>
        {{/if}}</td> 
        </form>
    <td>{{#if StudRes}}
        {{this.StudRes}}
        {{else}}
        False
        {{/if}}</td>
  </tr>
  {{/each}}
 </table>