<style>
  #transactions th{
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: left;
      background-color: white;
      color: black;
      font-size: 20px;
      background-color: lightgray;
  }

  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th  {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
  tr:nth-child(odd) {
      color: #dddddd;
  }
</style>

<div class="floats">
<table id="transactions">
    <tr>
        <th>Student</th>
        <th>Barcode</th>
        <th>Damages</th>
    </tr>
    {{#each studentlist as |student_list|}}

{{!  {{#each Activities}}
  
    <tr>
      <td>{{student_list.First_Name}} {{student_list.Last_Name}} </td>
      <td>{{student_list.Tbc}}</td>
      <td>{{#if Damages}}
      {{this.Damages}}
<div class="col">
<div id="outer">
</div>
<div id="floatRight">
    
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#modal{{this.Date}}">more info</button>

    <!-- Modal -->
<div class="modal fade" id="modal{{this.Date}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <strong>Description: </strong>{{this.Description}}
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               </div>
                          </div>
                     </div>
                </div>
            </div>
        </div>

        {{else}}
        None
        {{/if}}</td>
  {{/each}}
  {{!{{/if}}
 {{!{{/each}}
 </table>
 </div>